.rpb_flag {
    height:25px;
    width:auto;
}

.rpb_link > i {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.rpb_form > .chosen-container {
    width: 100% !important;
}

.rpb_form > .search-submit {
    position: relative ;
    display: block;
    width: 100%;
    bottom : 0px;
    right : 0px;
    top : 0px;
}
